:root{
    --hospital-green: #ACD9B2;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --lg: 18px;
    --sm: 14px;
    --md: 16px; 
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    border-bottom: 2px solid var(--very-light-pink);
}
nav .navbar-left {
    display:flex;
    align-items: center;
    margin-left: 4px;
}
.burger-menu{
    width: 30px;
    display: none;
    align-self: center;
    cursor: pointer;
}
nav .navbar-left ul, .navbar-right ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 60px;
}
nav .navbar-left ul a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}
nav .navbar-left ul a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    cursor: pointer;
}
nav .navbar-email:hover{
    color: var(--hospital-green);
    cursor: pointer;
}
nav .navbar-left li:nth-child(2){
    margin-left: 30px;
}
nav .navbar-right{
    display:flex;
    align-items: center;
}
nav .navbar-right ul li:nth-child(1){
    margin-right: 12px;
}
nav .navbar-right ul:nth-child(1) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    padding: 0;
    text-decoration: none;
}
nav .navbar-left img {
    width: 80px;
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart img {
    width: 30px;
}
.navbar-shopping-cart .number {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--hospital-green);
    font-size: var(--md);
    font-weight: bold;
    color: black;
    position:absolute;
    top: 1px;
    right: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}
/*desktop menu */
.desktop-menu{
    position: absolute;
    top: 60px;
    right: 60px;
    width: 120px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 5px;
    padding: 20px 20px 0px 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.desktop-menu ul li{
    text-align: end;
    font-weight: bold;
}
.desktop-menu ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
/* menu mobile */ 
.mobile-menu{
    position: absolute;
    top: 60px;
    width: 200px;
    height: 85vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
.mobile-menu ul:nth-child(1) {
    margin-bottom: 25px;
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .signout{
    font-size: var(--sm);
    font-weight: bold;
    color: var(--hospital-green);
}
.mobile-menu ul li{
    text-align: start;
    margin-bottom: 24px;
    font-weight: bold;
}
.mobile-menu ul li a {
    color: black;
    text-decoration: none;
}
.inactive {
    display: none;
}
@media (max-width: 640px){
    .burger-menu{
        display: block;
        width: 30px;
        height: 30px;
    }
    .navbar-right ul li:nth-child(1){
    display: none;
    }
    .navbar-left ul li {
    display: none;
    }
    .desktop-menu{
        display: none;
    }
}
@media (min-width: 640px){
    .mobile-menu{
        display: none;
    }
}